<!--
templateType: blog_listing
isAvailableForNewContent: true
label: Blog Listing with Sidebar
-->
{% extends './layouts/base.html' %}

{% block template_stylesheets %}
  <link type="text/css" rel="stylesheet" href="{{ get_asset_url('../css/templates/_blog.css') }}">
{% endblock template_stylesheets %}

{% block body %}
{# The main-content ID is used for the navigation skipper in the header.html file. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}

<main id="main-content" class="body-container-wrapper">
	<div class="body-container body-container--blog-index">

		{# Blog Header #}
		{% dnd_area 'dnd_area_header'
			label='Header Section'
		%}
			{% dnd_section
				background_color="#eef0f2"
			%}
				{% dnd_module path='../modules/blog-header', horizontal_alignment='CENTER' %}
				{% end_dnd_module %}
			{% end_dnd_section %}
		{% end_dnd_area %}
		{# End Blog Header #}

		{# Blog Listing with Sidebar #}
		<div class="content-wrapper">
			<div class="row-fluid">
				<div class="sidebar span9">
					{% dnd_area 'dnd_area_blog'
						label='Main Content'
					%}
						{% dnd_section %}
							{% dnd_column %}
								{% dnd_row %}
									{% dnd_module path='../modules/blog-listings' number_of_columns='two-col' %}
									{% end_dnd_module %}
								{% end_dnd_row %}
							{% end_dnd_column %}
						{% end_dnd_section %}
					{% end_dnd_area %}
				</div>

				<div class="blog-sidebar span3">
					{% dnd_area 'dnd_area_sidebar'
						label='Sidebar Content'
					%}
					{% dnd_section %}
							{% dnd_column %}
								{% dnd_row %}
									{% dnd_module path='../modules/blog-topic-list' %}
									{% end_dnd_module %}
								{% end_dnd_row %}
								{% dnd_row %}
									{% dnd_module path='../modules/blog-popular-posts' %}
									{% end_dnd_module %}
								{% end_dnd_row %}
							{% end_dnd_column %}
						{% end_dnd_section %}
					{% end_dnd_area %}
				</div>
			</div>
		</div>
		{# End Blog Listings with Sidebar #}


		{# Blog Pagination #}
			{% dnd_area 'dnd_area_pagination'
				label='Pagination Content'
			%}
				{% dnd_section
					vertical_alignment='TOP'
				%}
					{% dnd_column %}
						{% dnd_row %}
							{% dnd_module path='../modules/blog-pagination' %}
							{% end_dnd_module %}
						{% end_dnd_row %}
					{% end_dnd_column %}
				{% end_dnd_section %}
			{% end_dnd_area %}
		{# End Blog Pagination #}

		{# Blog Subscription #}
			{% dnd_area 'dnd_area_subscription'
				label='Subscription Content'
			%}
				{% dnd_section
					background_color="#eef0f2"
				%}
					{% dnd_column  
					%}
						{% dnd_row %}
							{% dnd_module path='../modules/blog-subscription-form' %}
							{% end_dnd_module %}
						{% end_dnd_row %}
					{% end_dnd_column %}
				{% end_dnd_section %}
		  {% end_dnd_area %}
		{# End Blog Subscription #}


		
	</div>
</main>
{% endblock body %}

{% block footer_scripts %}
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
  	var element = document.querySelector('.blog-sidebar');
  	function resize() {
  		if (window.innerWidth < 768) {
  			element.classList.add('mobile');
  		} else {
  			element.classList.remove('mobile');
  		}
  	}
  	window.onload = resize;
  	window.onresize = resize;
  	var topicListing = document.querySelector('.blog-sidebar-topic-filter h3');
  	var topicListingSidebar = document.querySelector('.blog-sidebar-topic-filter');
  	var postListing = document.querySelector('.blog-sidebar-post-listing h3');
  	var postListingSidebar = document.querySelector('.blog-sidebar-post-listing');
  	postListing.addEventListener('click', function (event){
  		postListingSidebar.classList.toggle ('clicked');
  	});
  	topicListing.addEventListener('click', function (event){
  		topicListingSidebar.classList.toggle ('clicked');
  	});
  });
</script>
{% endblock footer_scripts %}
