{# Blog header #}
<div class="blog-header">
	<div class="blog-header__inner">

		{# Blog author listing header #}
		{% if blog_author %}
		{% if blog_author.avatar %}
			<img class="blog-header__author-avatar" src="{{ blog_author.avatar }}" alt="{{ blog_author.display_name }}" width="200" loading="eager">
		{% endif %}
			<h1 class="blog-header__title">{{ blog_author.display_name }}</h1>
		{% if blog_author.bio %}
			<p class="blog-header__subtitle">{{ blog_author.bio }}</p>
		{% endif %}
		{% if blog_author.has_social_profiles %}
			<div class="blog-header__author-social-links">
				{% if blog_author.website %}
					<a href="{{ blog_author.website }}" target="_blank" rel="noopener">
						{% icon
														name='link',
														purpose='semantic',
														style='SOLID',
														title='Follow me on my website',
														width='10'
													%}
					</a>
				{% endif %}
				{% if blog_author.facebook %}
					<a href="{{ blog_author.facebook }}" target="_blank" rel="noopener">
						{% icon
														name='facebook-f',
														purpose='semantic',
														style='SOLID',
														title='Follow me on Facebook',
														width='10'
													%}
					</a>
				{% endif %}
				{% if blog_author.linkedin %}
					<a href="{{ blog_author.linkedin }}" target="_blank" rel="noopener">
						{% icon
														name='linkedin-in',
														purpose='semantic',
														style='SOLID',
														title='Follow me on LinkedIn',
														width='10'
													%}
					</a>
				{% endif %}
				{% if blog_author.twitter %}
					<a href="{{ blog_author.twitter }}" target="_blank" rel="noopener">
						{% icon
														name='twitter',
														purpose='semantic',
														style='SOLID',
														title='Follow me on Twitter',
														width='10'
													%}
					</a>
				{% endif %}
			</div>
		{% endif %}
		{% else %}
		{# End blog author listing header #}

		{# Blog listing header #}
			<h1 class="blog-header__title">{{ group.public_title }}</h1>
			<p class="blog-header__subtitle">{{ group.description }}</p>
		{% endif %}
		{# End blog listing header #}

	</div>
</div>
{# End blog header #}