.tabber-wrapper-module ul.tab-lists {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.tabber-wrapper-module .tab-active a {
  background: #fff;
  border-bottom-color: transparent;
  color: #2db34a;
  cursor: default;
}

.tabber-wrapper-module ul.tab-lists > li {
  display: inline-block;
}


.tabber-wrapper-module ul.tab-lists a.tab-trigger {
  padding: 10px 25px;
  background-color: #1abc9c;
  border: 1px solid #1abc9c;
  color: #fff;
  font-weight: 600;
  text-align: center;
  position: relative;
  text-decoration: none;
  pointer-events:auto;
  display: flex;
  align-items: center;
  height: 100%;
}

.tabber-wrapper-module ul.tab-lists a.tab-trigger:hover,
.tabber-wrapper-module ul.tab-lists .tab_active a.tab-trigger{
  background-color: #fff;
  border: 1px solid #1abc9c;
  color: #1abc9c;
  z-index: 1;
}


.tabber-wrapper-module ul.tab-lists a.tab-trigger * {
  pointer-events:none;
}

.tabber-wrapper-module ul.tab-lists a.tab-trigger .title-icon {
  display: inline-block;
  height: 16px;
  vertical-align: middle;
  font-size: 0;
  width: 16px;
  line-height: 0;
  color:#fff;
  margin-right: 5px;
}

.tabber-wrapper-module ul.tab-lists a.tab-trigger .title-icon svg{
  fill:#fff;
}

.tabber-wrapper-module ul.tab-lists .tab_active a.tab-trigger .title-icon svg{
  fill:#1abc9c;
}


.tabber-wrapper-module .tab-buttons {
  display: flex;
  flex-wrap: wrap;
}

.tabber-wrapper-module .tab-button {
  margin: 0 15px;
}

.tabber-wrapper-module .tab-button:first-child {
  margin-left: 0;
}

.tabber-wrapper-module .tab-button:last-child {
  margin-right: 0;
}

.tabber-wrapper-module .tab-item-content {
  background-color: #fff;
  color:#000;
  padding: 20px;
}

.tabber-wrapper-module .tab-item-content:not(.hide-content-border){
  border: 1px solid #1abc9c;
}

.tabber-wrapper-module .tab-item-content .tab-button a {
  padding: 10px;
  display: inline-block;
}

.tabber-wrapper-module ul.tab-lists > li.tab_active a.tab-trigger {
  border-bottom-color: transparent;
}

.tabber-wrapper-module ul.tab-lists li.tab_active a.tab-trigger:after {
  content: "";
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  max-width: 100%;
}

.tabber-wrapper-module.tab_align_vertical .tabber-container {
  display: flex;
}

.tabber-wrapper-module.tab_align_vertical .tabber-container ul.tab-lists {
  width: 25%;
  display: block;
}

.tabber-wrapper-module.tab_align_vertical .tabber-container ul.tab-lists li.tab-item {
  padding: 0 !important;
  width: 100%;
}
.tabber-wrapper-module.tab_align_vertical ul.tab-lists li.tab_active a.tab-trigger:after{
  display:none;
}

.tabber-wrapper-module .tab-item-content:not(.tab_active){
  display: none;
}

.tabber-wrapper-module ul.tab-lists a.tab-trigger .title-icon img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.tabber-wrapper-module .icon_after span.title-icon {
  order: 2;
  margin-right: 0;
  margin-left: 5px;
}

.tabber-wrapper-module.tab_align_horizontal .tab-lists .tab-item:first-child {
  margin-left: 0 !important;
}

.tabber-wrapper-module.tab_align_horizontal .tab-lists .tab-item:last-child {
  margin-right: 0 !important;
}

.tabber-wrapper-module.tab_align_horizontal ul.tab-lists a.tab-trigger:hover,
.tabber-wrapper-module.tab_align_horizontal ul.tab-lists a.tab-trigger {
  border-bottom: 0 !important;
}

@media (min-width:768px) {

  .tabber-wrapper-module.tab_align_vertical ul.tab-lists li > a.tab-trigger {
    border-right: 0;
  }

  .tabber-wrapper-module.tab_align_vertical ul.tab-lists li.tab_active > a.tab-trigger:after {
    background: #fff;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    left: 99%;
    top: 0;
    width: 5px;
  }

  .tabber-wrapper-module.tab_align_vertical ul.tab-lists li.tab_active > a.tab-trigger {
    position:relative;
  }

  .tabber-wrapper-module.tab_align_vertical .tab_active a.tab-trigger {
    z-index: 1;
  }

  .tabber-wrapper-module.tab_align_vertical .tabber-container ul.tab-lists li.tab-item:first-child {
    margin-top: 0;
  }

}

@media (max-width:767px) {

  .tabber-wrapper-module.tab_mob_vertical ul.tab-lists>li{
    display:block;
    width:100%;
    padding:0;
  }

  .tabber-wrapper-module.tab_mob_vertical ul.tab-lists{
    display:block;
  }

  .tabber-wrapper-module.tab_align_vertical .tabber-container {
    display: block;
  }

  .tabber-wrapper-module.tab_align_vertical .tabber-container ul.tab-lists {
    width: 100%;
    display: block;
  }

  .tabber-wrapper-module.tab_mob_vertical ul.tab-lists li.tab_active a.tab-trigger:after{
    display:none;
  }

  .tabber-wrapper-module.tab_mob_hori_scroll ul.tab-lists {
    overflow: auto;
    white-space: nowrap;
  }



}