
{% set imgPath =  get_asset_url('../../images/menu_img.png') %}

<div class="multipurose_nav {{name}} stylechanges {{ module.advanced_customization.css_class_selector }}" {% if module.advanced_customization.css_id_selector %} id="{{ module.advanced_customization.css_id_selector }}"{% endif %}>
  {# Default menu item classes #}

  {% macro defaultItemClasses() %}
  {{
    {
      'class': 'no-submenu menu-item hs-skip-lang-url-rewrite'
    }|xmlattr
   }}
  {% endmacro %}

  {# Menu item classes if a menu item has a child menu #}

  {% macro childClasses() %}
  {{
    {
      'class': 'has-submenu menu-item hs-skip-lang-url-rewrite'
    }|xmlattr
   }}
  {% endmacro %}

  {# Menu item link attributes if the menu item is the current active page #}

  {% macro activeNode() %}
  {{
    {
      'class': 'menu-link active-item',
      'aria-current': 'page'
    }|xmlattr
   }}
  {% endmacro %}

  {# Menu item link classes if menu item is the parent of the current active page #}

  {% macro activeBranch() %}
  {{
    {
      'class': 'menu-link active-branch'
    }|xmlattr

   }}
  {% endmacro %}

  {# Menu item link attribute if the menu item is set to open in a new window #}

  {% macro linkTarget() %}
  {{
    {
      'target': '_blank',
      'rel': 'noopener'
    }|xmlattr
  }}
  {% endmacro %}

  {# Navigation menu item macro #}
  {% macro link(node) %}

  <li {{ childClasses() if node.children else defaultItemClasses() }}>
    {% if module.enable_mega_menu == "false"  %}
    <a href="{{ node.url if node.url else 'javascript:;' }}" class="menu-link  menu__{{level}}" data-id="1" {{ activeBranch() if node.activeBranch }} {{ activeNode() if node.activeNode }} {{ linkTarget() if node.linkTarget }}>
      <span>{{ node.label }}</span><div class="arrow"></div>
    </a>
    {% endif %}


    <!--   mega menu   -->

    {% set nodeLabel = node.label|lower|replace(' ','')|replace('-','') %}

    {% if module.enable_mega_menu %}
    {% if level > 1 %}  
    {% if module.mega_menu_content and module.include_mega_menu_content %}
    {% for item in module.mega_menu_content %}
    {% set menulabel = item.menu_label|lower|replace(' ','')|replace('-','') %}
    {% if  menulabel == nodeLabel  %}
    <div class="megaMenu_link imgPos_{{ module.module_settings.image_position }} withoutChecklevel level__{{level}}">

      {% if module.module_settings.image_position == "left" or module.module_settings.image_position == "right" %}
      {% else %}
      <a href="{{ node.url if node.url else 'javascript:;' }}" class="menu-link  menu__{{level}}" data-id="2" {{ activeBranch() if node.activeBranch }} {{ activeNode() if node.activeNode }} {{ linkTarget() if node.linkTarget }}>
        <span class="menu_link_text">{{ node.label }}</span>
      </a>
      {% endif %}



      <div class="img_box">
        <a href="{{ node.url if node.url else 'javascript:;' }}" class="menu-link  menu__{{level}}" data-id="3" {{ activeBranch() if node.activeBranch }} {{ activeNode() if node.activeNode }} {{ linkTarget() if node.linkTarget }}>
          <div class="img_card" {% if module.module_settings.change_image_width %}style=" max-width: {{ module.module_settings.image_width }}px;"{% endif %}>
            <img src="{{ item.image.src }}" alt="Menu Image"  {{ sizeAttrs }}>
          </div>
        </a>
      </div>

      {% if module.module_settings.image_position == "left" or module.module_settings.image_position == "right" %}
      <div class="desc_link_col">
        <a href="{{ node.url if node.url else 'javascript:;' }}" class="menu-link  menu__{{level}}" data-id="4" {{ activeBranch() if node.activeBranch }} {{ activeNode() if node.activeNode }} {{ linkTarget() if node.linkTarget }}>
          <span class="menu_link_text">{{ node.label }}</span>
        </a>

        {% if item.content  %}
        <div class="description">
          {{ item.content }}
        </div>
        {% endif %}

        {% if item.button_text  %}
        <div class="menu_btn_wrap">
          {% if item.select_button_type == "standard" or item.select_button_type == "simple_link" %}
          {% set href = item.link.url.href %}
          {% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
          {% endif %}
          <a href="{{ href }}" {% if item.select_button_type == "simple_link" %}class="noLink"{% else %}class="hs-button button-primary"{% endif%}
             {% if item.link.open_in_new_tab %}target="_blank"{% endif %}
             {% if item.link.rel %}rel="{{ item.link.rel }}"{% endif %}
             > {{ item.button_text }}
          </a>
          {% else %}
          {% cta guid="{{ item.cta_field }}" %}
          {% endif %}
        </div>
        {% endif %}
      </div>
      {% else %}
      {% endif %}

      {% if module.module_settings.image_position == "left" or module.module_settings.image_position == "right" %}
      {% else %}
      {% if item.content  %}
      <div class="description">
        {{ item.content }}
      </div>
      {% endif %}
      {% if item.button_text  %}
      <div class="menu_btn_wrap">
        {% if item.select_button_type == "standard" or item.select_button_type == "simple_link" %}
        {% set href = item.link.url.href %}
        {% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
        {% set href = "mailto:" + href %}
        {% endif %}
        <a href="{{ href }}" {% if item.select_button_type == "simple_link" %}class="noLink"{% else %}class="hs-button button-primary"{% endif%}
           {% if item.link.open_in_new_tab %}target="_blank"{% endif %}
           {% if item.link.rel %}rel="{{ item.link.rel }}"{% endif %}
           > {{ item.button_text }}
        </a>
        {% else %}
        {% cta guid="{{ item.cta_field }}" %}
        {% endif %}
      </div>
      {% endif %}
      {% endif %}


    </div>
    {% endif %}
    {% endfor %}
    {% endif %}

    <a href="{{ node.url if node.url else 'javascript:;' }}" class="menu-link  menu__{{level}}" data-id="1" {{ activeBranch() if node.activeBranch }} {{ activeNode() if node.activeNode }} {{ linkTarget() if node.linkTarget }}><span>{{ node.label }}</span><div class="arrow"></div></a>
    {% else %}
    <!--   mega menu level 1  -->
    <a href="{{ node.url if node.url else 'javascript:;' }}" class="menu-link  menu__{{level}}" data-id="5" {{ activeBranch() if node.activeBranch }} {{ activeNode() if node.activeNode }} {{ linkTarget() if node.linkTarget }}><span>{{ node.label }}</span><div class="arrow"></div></a>
    {% endif %}
    <!--      -->
    {% endif %}

    {% if node.children %}
    {{ renderNavigation(node) }}
    {% endif %}

  </li>


  {% endmacro %}
  {# Navigation submenu macro #}

  {% macro renderNavigation(menuTree) %}
  {% set level = level + 1 %}
  <ul class="submenu level-{{ level }}">
    {% for node in menuTree.children %}
    {{ link(node) }}

    {% set menuIndex = loop.index  %}

    {% if menuIndex == module.logo_group.logo_position && level == 1 %} 
    {% if module.logo_group.logo.src and module.include_logo %}
    {% set href = module.logo_group.logo_link.url.href %}
    {% if module.logo_group.logo_link.url.type is equalto "EMAIL_ADDRESS" %}
    {% set href = "mailto:" + href %}
    {% endif %}
    <li class="custom-logo" >
      {% if module.logo_group.include_link_on_logo %}<a href="{{ href }}"
                                                        {% if module.logo_group.logo_link.open_in_new_tab %}target="_blank"{% endif %}
                                                        {% if module.logo_group.logo_link.rel %}rel="{{ module.logo_group.logo_link.rel }}"{% endif %}
                                                        >{% endif %}
      <img src="{{ module.logo_group.logo.src }}" alt="logo" width="{{ module.logo_group.logo_width }}">
      {% if module.logo_group.include_link_on_logo %}</a>{% endif %}
    </li>
    {% endif %}
    {% endif %}


    {% set button_position = module.button_group.button_position  %}

    {% if menuIndex == button_position  && level == 1 %}
    {% if module.button_group.select_button_type and module.include_button %}
    <li class="menu_btn_wrapp {{level}}-lev ">
      <div class="btn_wrap">
        {% if module.button_group.select_button_type == "std" %}
        {% set href = module.button_group.link.url.href %}
        {% if module.button_group.link.url.type is equalto "EMAIL_ADDRESS" %}
        {% set href = "mailto:" + href %}
        {% endif %}
        <a href="{{ href }}" class="hs-button button-primary"
           {% if module.button_group.link.open_in_new_tab %}target="_blank"{% endif %}
           {% if module.button_group.link.rel %}rel="{{ module.button_group.link.rel }}"{% endif %}
           > {{ module.button_group.button_text }}
        </a>
        {% else %}
        {% cta guid="{{ module.button_group.cta_field }}" %}
        {% endif %}
      </div>
    </li>
    {% endif %}
    {% endif %}


    {% endfor %}
  </ul>
  {% endmacro %}

  {# Main navigation wrapper #}

  <div class="desk_nav">
    <nav aria-label="Main menu" class="navigation-primary cmNav navCol{{ module.module_settings.select_columns_count_in_submenu }} {{module.style.border_options.select_border_position}} {% if module.enable_mega_menu %}megaMenuOn{% else %}noSubmenu{% endif %}">
      {{ renderNavigation(menu(module.select_menu)) }}
    </nav>
  </div>

  <div class="mob_nav">

    {% if module.logo_group.logo.src %}
    <div class="custom-logo" >
      <a href="/">
        <img src="{{ module.logo_group.logo.src }}" alt="logo" width="{{ module.logo_group.logo_width }}">
      </a>
    </div>
    {% endif %}

    <nav aria-label="Main menu" class="navigation-primary cmNav {% if module.enable_mega_menu %}megaMenuOn{% else %}noSubmenu{% endif %}">
      {{ renderNavigation(menu(module.select_menu)) }}
    </nav>

    <div class="mobile-trigger"><i></i>
    </div>
  </div>

</div>



{% require_css%}
<style>
  .{{name}}.multipurose_nav.stylechanges .custom-logo{
    width:{{ module.logo_group.logo_width }}px;
  }

  {% if module.logo_group.change_mobile_logo_width %}
  @media(max-width:767px){
    .{{name}}.multipurose_nav.stylechanges .custom-logo{
      width:{{ module.logo_group.mobile_logo_width }}px;
    }
  }
  {% endif %}

  .{{name}}.multipurose_nav.stylechanges .mobile-trigger{
    color: rgba({{ module.style.mobile_style.toggler_color.color|convert_rgb  }},{{ module.style.mobile_style.toggler_color.opacity/100 }});
    border-color: rgba({{ module.style.mobile_style.toggler_color.color|convert_rgb  }},{{ module.style.mobile_style.toggler_color.opacity/100 }});
  }

  .{{name}}.multipurose_nav.stylechanges:not(.mobile-open) .mobile-trigger:not(:hover) i,
  .{{name}}.multipurose_nav.stylechanges:not(.mobile-open) .mobile-trigger:not(:hover) i:before,
  .{{name}}.multipurose_nav.stylechanges:not(.mobile-open) .mobile-trigger:not(:hover) i:after,
  .{{name}}.multipurose_nav.stylechanges .mobile-trigger:hover,
  .{{name}}.multipurose_nav.stylechanges .mobile-trigger:not(:hover) i,
  .{{name}}.multipurose_nav.stylechanges .mobile-trigger:not(:hover) i:before,
  .{{name}}.multipurose_nav.stylechanges .mobile-trigger:not(:hover) i:after{
    background-color: rgba({{ module.style.mobile_style.toggler_color.color|convert_rgb  }},{{ module.style.mobile_style.toggler_color.opacity/100 }});
  }

  {% if module.style.background_options.change_child_menu_background_color %}
  .{{name}}.multipurose_nav.stylechanges nav.navigation-primary.cmNav.megaMenuOn ul.submenu.level-1 > li ul {
    background-color: rgba({{ module.style.background_options.child_menu_background_color.color|convert_rgb  }},{{ module.style.background_options.child_menu_background_color.opacity/100 }});    
  }
  {% endif %}

  {% if module.style.background_options.change_grandchild_menu_background_color %}
  .{{name}}.multipurose_nav.stylechanges nav.navigation-primary.cmNav.megaMenuOn ul.submenu.level-2 > li ul li   {
    background-color: rgba({{ module.style.background_options.grandchild_menu_background_color.color|convert_rgb  }},{{ module.style.background_options.grandchild_menu_background_color.opacity/100 }});    
  }
  {% endif %}



  {% if module.style.border_options.change_background_style %}

  @media(min-width:768px){

    {% if module.style.border_options.select_border_position == "outer" %}
    .{{name}}.multipurose_nav.stylechanges  .navigation-primary.cmNav ul.submenu.level-1 > li > ul{
      border: {{ module.style.border_options.border_width }}px solid;
      border-color: rgba({{ module.style.border_options.border_color.color|convert_rgb  }},{{ module.style.border_options.border_color.opacity/100 }});    
    }
    .{{name}}.multipurose_nav.stylechanges nav.navigation-primary.cmNav.megaMenuOn ul.submenu.level-2 > li >.megaMenu_link:after{
      content:none;  
    }

    {% endif %}


    {% if module.style.border_options.select_border_position == "in_between" %}
    .{{name}}.multipurose_nav.stylechanges nav.navigation-primary.cmNav.megaMenuOn ul.submenu.level-2 > li >.megaMenu_link:after{
      content:none;  
    }
    .{{name}}.multipurose_nav.stylechanges  .navigation-primary.cmNav ul.submenu.level-1 > li > ul{
      border: none;
    }

    .{{name}}.multipurose_nav.stylechanges nav.navigation-primary.cmNav.megaMenuOn ul.submenu.level-2 > li {
      border: {{ module.style.border_options.border_width }}px solid;
      border-color: rgba({{ module.style.border_options.border_color.color|convert_rgb  }},{{ module.style.border_options.border_color.opacity/100 }});    
    }
    {% endif %}

    .{{name}}.multipurose_nav.stylechanges .navigation-primary.cmNav ul.submenu.level-1 ul > li{
      border-width: {{ module.style.border_options.border_width }}px;
    }

  }

  @media(min-width:768px){
    .{{name}}.multipurose_nav.stylechanges nav.navigation-primary.cmNav.megaMenuOn ul.submenu.level-2 ul li:first-child {
      border-top: 1px solid #000;
      border-color: rgba({{ module.style.border_options.grandchild_menu_border_color.color|convert_rgb  }},{{ module.style.border_options.grandchild_menu_border_color.opacity/100 }});  
      border-top-width: {{ module.style.border_options.grand_menu_border_width }}px;
    }

    .{{name}}.multipurose_nav.stylechanges nav.navigation-primary.cmNav.megaMenuOn ul.submenu.level-2 ul li {
      border-width: 1px 0 0px 0;
      border-bottom-width: {{ module.style.border_options.grand_menu_border_width }}px;
      border-top-width: {{ module.style.border_options.grand_menu_border_width }}px;
      border-color: rgba({{ module.style.border_options.grandchild_menu_border_color.color|convert_rgb  }},{{ module.style.border_options.grandchild_menu_border_color.opacity/100 }});  
    }
  }


  @media(max-width:767px){
    .{{name}}.multipurose_nav.stylechanges .navigation-primary.cmNav li.has-submenu.menu-item.child-open>a, nav.navigation-primary.cmNav ul>li{
      border-color: rgba({{ module.style.border_options.grandchild_menu_border_color.color|convert_rgb  }},{{ module.style.border_options.grandchild_menu_border_color.opacity/100 }}) !important;  
    }

    .{{name}}.multipurose_nav.stylechanges nav.navigation-primary.cmNav{
      border-width: {{ module.style.border_options.border_width }}px;    
      border-color: rgba({{ module.style.border_options.border_color.color|convert_rgb  }},{{ module.style.border_options.border_color.opacity/100 }}); 
    }

    .{{name}}.multipurose_nav.stylechanges nav.navigation-primary.cmNav ul > li,
    .{{name}}.multipurose_nav.stylechanges .navigation-primary.cmNav li.has-submenu.menu-item.child-open > a{
      border-bottom-width: {{ module.style.border_options.border_width }}px;    
    }


  }
  {% endif %}

  {% if module.module_settings.change_image_width %}
  .{{name}}.multipurose_nav.stylechanges nav.navigation-primary.cmNav img {
    width: {{ module.module_settings.image_width }}px;
  }
  {% endif %}

</style>
{% end_require_css%}



