{% import './tools/_macros.css' %}

{## Table of contents

  1. Variables
    1a. Containers
    1b. Colors
    1c. Typography
    1d. Buttons
    1e. Forms
    1f. Tables
    1g. Site header
    1h. Site footer
  2. Containers / Grid / DnD Areas
  3. Typography
  4. Buttons
  5. Forms
  6. Tables
  7. Site header
  8. Site footer
  9. Blog
  10. System pages
  11. Modules

##}

{###########################################################################}
{############################   1. Variables   #############################}
{###########################################################################}

/* 1a. Containers */

{% set container_width = theme.spacing.max_width ~ 'px' %}
{% set dnd_section_padding = theme.spacing.vertical_spacing ~ 'px ' ~ '20px' %}

/* 1b. Colors */

{% set primary_color = theme.global_colors.primary_color.color  %}
{% set secondary_color = theme.global_colors.secondary_color.color %}

/* 1c. Typography */

{% if theme.typography.primary_font.primary_font_select == "google" %}{% set primary_font_size = theme.typography.primary_font.primary_font.size.value %}{% set primary_font_color = theme.typography.primary_font.primary_font.color %}{% set primary_font_variation = theme.typography.primary_font.primary_font.variation %}{% set primary_font = theme.typography.primary_font.primary_font.font %}{% else %}{% set primary_font_size = theme.typography.primary_font.primary_font_custom_font_size %}{% set primary_font_color = theme.typography.primary_font.primary_font_custom_font_color.color %}{% set primary_font = theme.typography.primary_font.primary_font_custom_font %}{% endif %}
{% if theme.typography.secondary_font.secondary_font_select == "google" %}{% set secondary_font_size = theme.typography.secondary_font.secondary_font.size.value %}{% set secondary_font_color = theme.typography.secondary_font.secondary_font.color %}{% set secondary_font_variation = theme.typography.secondary_font.secondary_font.variation %}{% set secondary_font = theme.typography.secondary_font.secondary_font.font %}{% else %}{% set secondary_font_size = theme.typography.secondary_font.secondary_font_custom_font_size %}{% set secondary_font_color = theme.typography.secondary_font.secondary_font_custom_font_color.color %}{% set secondary_font = theme.typography.secondary_font.secondary_font_custom_font %}{% endif %}


{% if theme.typography.body_text.body_text_select == "google" %}{% set body_size = theme.typography.body_text.body_text.size %}{% set body_color = theme.typography.body_text.body_text.color %}{% set body_variation =  theme.typography.body_text.body_text.variant %}{% set body_font = theme.typography.body_text.body_text.font %}{% else %}{% set body_size = theme.typography.body_text.body_font_custom_size %}{% set body_color = theme.typography.body_text.body_font_custom_color.color %}{% set body_font = theme.typography.body_text.body_font_custom %}{% endif %}
{% if theme.typography.h1_font.h1_font_select == "google" %}{% set h1_size = theme.typography.h1_font.h1_font.size %}{% set h1_color = theme.typography.h1_font.h1_font.color %}{% set h1_variation = theme.typography.h1_font.h1_font.variant %}{% set h1_font = theme.typography.h1_font.h1_font.font %}{% else %}{% set h1_color = theme.typography.h1_font.h1_custom_font_color.color %}{% set h1_size = theme.typography.h1_font.h1_custom_font_size %}{% set h1_font = theme.typography.h1_font.h1_custom_font_family %}{% endif %}
{% if theme.typography.h2_font.h2_font_select == "google" %}{% set h2_size = theme.typography.h2_font.h2_font.size %}{% set h2_color = theme.typography.h2_font.h2_font.color %}{% set h2_variation = theme.typography.h2_font.h2_font.variant %}{% set h2_font = theme.typography.h2_font.h2_font.font %}{% else %}{% set h2_color = theme.typography.h2_font.h2_custom_font_color.color %}{% set h2_size = theme.typography.h2_font.h2_custom_font_size %}{% set h2_font = theme.typography.h2_font.h2_custom_font_family %}{% endif %}
{% if theme.typography.h3_font.h3_font_select == "google" %}{% set h3_size = theme.typography.h3_font.h3_font.size %}{% set h3_color = theme.typography.h3_font.h3_font.color %}{% set h3_variation = theme.typography.h3_font.h3_font.variant %}{% set h3_font = theme.typography.h3_font.h3_font.font %}{% else %}{% set h3_color = theme.typography.h3_font.h3_custom_font_color.color %}{% set h3_size = theme.typography.h3_font.h3_custom_font_size %}{% set h3_font = theme.typography.h3_font.h3_custom_font_family %}{% endif %}
{% if theme.typography.h4_font.h4_font_select == "google" %}{% set h4_size = theme.typography.h4_font.h4_font.size %}{% set h4_color = theme.typography.h4_font.h4_font.color %}{% set h4_variation = theme.typography.h4_font.h4_font.variant %}{% set h4_font = theme.typography.h4_font.h4_font.font %}{% else %}{% set h4_color = theme.typography.h4_font.h4_custom_font_color.color %}{% set h4_size = theme.typography.h4_font.h4_custom_font_size %}{% set h4_font = theme.typography.h4_font.h4_custom_font_family %}{% endif %}
{% if theme.typography.h5_font.h5_font_select == "google" %}{% set h5_size = theme.typography.h5_font.h5_font.size %}{% set h5_color = theme.typography.h5_font.h5_font.color %}{% set h5_variation = theme.typography.h5_font.h5_font.variant %}{% set h5_font = theme.typography.h5_font.h5_font.font %}{% else %}{% set h5_color = theme.typography.h5_font.h5_custom_font_color.color %}{% set h5_size = theme.typography.h5_font.h5_custom_font_size %}{% set h5_font = theme.typography.h5_font.h5_custom_font_family %}{% endif %}
{% if theme.typography.h6_font.h6_font_select == "google" %}{% set h6_size = theme.typography.h6_font.h6_font.size %}{% set h6_color = theme.typography.h6_font.h6_font.color %}{% set h6_variation = theme.typography.h6_font.h6_font.variant %}{% set h6_font = theme.typography.h6_font.h6_font.font %}{% else %}{% set h6_color = theme.typography.h6_font.h6_custom_font_color.color %}{% set h6_size = theme.typography.h6_font.h6_custom_font_size %}{% set h6_font = theme.typography.h6_font.h6_custom_font_family %}{% endif %}

{% set anchor_font_color = theme.typography.link_color.color %}
{% set anchor_font_hover_color = theme.typography.link_hover_color.color %}

/* 1d. Buttons */

{% set button_bg_color = color(theme.buttons.background_color) %}
{% set button_font_color = theme.buttons.text_color.color %}
{% set button_border = theme.buttons.border_width ~ 'px solid ' ~ theme.buttons.border_color.color %}
{% set button_corner_radius = theme.buttons.border_radius ~ 'px' %}
{% set button_spacing = theme.buttons.vertical_padding ~ 'px' ~ ' ' ~ theme.buttons.horizontal_padding ~ 'px' %}

/* 1e. Forms */

{% set form_title_bg_color = color(theme.forms.header_background_color) %}
{% set form_title_font_color = theme.forms.header_text_color.color %}

{% set form_label_font_color = theme.forms.label_color.color %}
{% set form_help_text_font_color = theme.forms.help_text_color.color %}

{% set form_input_border_color = theme.forms.field_border_color.color %}
{% set form_input_focus_border_color = theme.forms.field_focus_border_color.color %}

/* 1f. Tables */

{% set table_head_bg_color = color(theme.tables.header_background_color) %}
{% set table_head_font_color = theme.tables.header_text_color.color %}

{% set table_bg_color = color(theme.tables.body_background_color) %}
{% set table_font_color = theme.tables.body_text_color.color %}
{% set table_border_color = theme.tables.border_color.color %}

{% set table_footer_bg_color = color(theme.tables.footer_background_color) %}
{% set table_footer_font_color = theme.tables.footer_text_color.color %}

/* 1g. Site header */

{% set header_bg_color = color(theme.header.background_color) %}
{% set header_nav_link_color = theme.header.menu_link_color.color %}
{% set header_child_nav_border_color = theme.header.child_menu_border_color.color %}

/* 1h. Site footer */

{% set footer_bg_color = color(theme.footer.background_color) %}
{% set footer_font_color = theme.footer.text_color.color %}

{###########################################################################}
{##################   2. Containers / Grid / DnD Areas   ###################}
{###########################################################################}

.content-wrapper {
  max-width: {{ container_width }};
}

.dnd-section,
.content-wrapper--vertical-spacing {
  padding: {{ dnd_section_padding }};
}

.dnd-section > .row-fluid {
  max-width: {{ container_width }};
}

{###########################################################################}
{###########################   3. Typography   #############################}
{###########################################################################}

html {
  font-size: {{ body_size }}px;
}

body {
  font-size: {{ body_size }}px;
  color: {{ body_color }};
  font-weight: {{ body_variation }};
  font-family: {{ body_font }};
}

/* Paragraphs */


/* Anchors */

a {
  color: {{ anchor_font_color }};
}

a:hover,
a:focus,
a:active {
  color: {{ anchor_font_hover_color }};
}

/* Headings */

h1 {
  font-family: {{ h1_font }};
  font-size: {{ h1_size }}px;
  color: {{ h1_color }};
  font-weight: {{ h1_variation }};
}

h2 {
  font-family: {{ h2_font }};
  font-size: {{ h2_size }}px;
  color: {{ h2_color }};
  font-weight: {{ h2_variation }};
}

h3 {
  font-family: {{ h3_font }};
  font-size: {{ h3_size }}px;
  color: {{ h3_color }};
  font-weight: {{ h3_variation }};
}

h4 {
  font-family: {{ h4_font }};
  font-size: {{ h4_size }}px;
  color: {{ h4_color }};
  font-weight: {{ h4_variation }};
}

h5 {
  font-family: {{ h5_font }};
  font-size: {{ h5_size }}px;
  color: {{ h5_color }};
  font-weight: {{ h5_variation }};
}

h6 {
  font-family: {{ h6_font }};
  font-size: {{ h6_size }}px;
  color: {{ h6_color }};
  font-weight: {{ h6_variation }};
}

/* Blockquote */

blockquote {
  border-left-color: {{ secondary_color }};
}

{###########################################################################}
{############################   4. Buttons   ###############################}
{###########################################################################}

button,
.button {
  background-color: {{ button_bg_color }};
  border: {{ button_border }};
  border-radius: {{ button_corner_radius }};
  color: {{ button_font_color }};
  padding: {{ button_spacing }};
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  background-color: rgba({{ color_variant(theme.buttons.background_color.color, -40)|convert_rgb }}, {{ theme.buttons.background_color.opacity / 100 }});
  border-color: {{ color_variant(theme.buttons.border_color.color, -40) }};
  color: {{ button_font_color }};
}

button:active,
.button:active {
  background-color: rgba({{ color_variant(theme.buttons.background_color.color, 40)|convert_rgb }}, {{ theme.buttons.background_color.opacity / 100 }});
  border-color: {{ color_variant(theme.buttons.border_color.color, 40) }};
  color: {{ button_font_color }};
}

{###########################################################################}
{##############################   5. Forms   ###############################}
{###########################################################################}

form,
.submitted-message {
  font-size: {{ body_size }}px;
  color: {{ body_color }};
  font-weight: {{ body_variation }}
}

/* Form title */

.form-title {
  background-color: {{ form_title_bg_color }};
  color: {{ form_title_font_color }};
}

/* Form label */

form label {
  color: {{ form_label_font_color }};
}

/* Form help text */

form legend {
  color: {{ form_help_text_font_color }};
}

/* Form inputs */

form input[type=text],
form input[type=email],
form input[type=password],
form input[type=tel],
form input[type=number],
form input[type=file],
form select,
form textarea {
  border-color: {{ form_input_border_color }};
  color: {{ body_color }};
}

form input[type=text]:focus,
form input[type=email]:focus,
form input[type=password]:focus,
form input[type=tel]:focus,
form input[type=number]:focus,
form input[type=file]:focus,
form select:focus,
form textarea:focus {
  border-color: {{ form_input_focus_border_color }};
}

/* Form placeholder text */

::-webkit-input-placeholder {
  color: {{ body_color }};
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder,
::placeholder,
.hs-fieldtype-date .input .hs-dateinput:before {
  color: {{ body_color }};
}

/* Date picker */

.fn-date-picker td.is-selected .pika-button {
  background: {{ primary_color }};
}

.fn-date-picker td .pika-button:hover {
  background-color: {{ primary_color }} !important;
}

.fn-date-picker td.is-today .pika-button {
  color: {{ primary_color }};
}

/* Submit button */

form input[type=submit],
 .hs-button {
  background-color: {{ button_bg_color }};
  border: {{ button_border }};
  border-radius: {{ button_corner_radius }};
  color: {{ button_font_color }};
  padding: {{ button_spacing }};
}

form input[type=submit]:hover,
form input[type=submit]:focus,
 .hs-button:hover,
 .hs-button:focus {
  background-color: rgba({{ color_variant(theme.buttons.background_color.color, -40)|convert_rgb }}, {{ theme.buttons.background_color.opacity / 100 }});
  border-color: {{ color_variant(theme.buttons.border_color.color, -40) }};
  color: {{ button_font_color }};
}

form input[type=submit]:active,
.hs-button:active {
  background-color: rgba({{ color_variant(theme.buttons.background_color.color, 40)|convert_rgb }}, {{ theme.buttons.background_color.opacity / 100 }});
  border-color: {{ color_variant(theme.buttons.border_color.color, 40) }};
  color: {{ button_font_color }};
}

{###########################################################################}
{#############################   6. Tables   ###############################}
{###########################################################################}

table {
  background-color: {{ table_bg_color }};
  border-color: {{ table_border_color }};
}

th,
td {
  border-color: {{ table_border_color }};
  color: {{ table_font_color }};
}

thead th,
thead td {
  background-color: {{ table_head_bg_color }};
  border-bottom-color: {{ table_border_color }};
  color: {{ table_head_font_color }};
}

tfoot td {
  background-color: {{ table_footer_bg_color }};
  color: {{ table_footer_font_color }};
}

{###########################################################################}
{###########################   7. Site header   ############################}
{###########################################################################}

.header {
  background-color: {{ header_bg_color }};
}

body .navigation-primary li > a,
.header__logo .logo-company-name,
.header__language-switcher-label-current,
.header__language-switcher .lang_list_class li a {
  color: {{ header_nav_link_color }};
  font-family: {{ body_font }};
}

body .navigation-primary li > a:hover,
body .navigation-primary li > a:focus,
.header__language-switcher-label-current:hover,
.header__language-switcher-label-current:focus,
.header__language-switcher .lang_list_class li:hover a,
.header__language-switcher .lang_list_class li a:focus {
  color: {{ color_variant(header_nav_link_color, -40) }};
}

body .navigation-primary li > a:active,
.header__language-switcher-label-current:active,
.header__language-switcher .lang_list_class li a:active {
  color: {{ color_variant(header_nav_link_color, 40) }};
}

body .navigation-primary .submenu.level-1 > li > a.active-item:after {
  background-color: {{ primary_color }};
}

body .submenu.level-1 ul,
.header__language-switcher .lang_list_class {
  background-color: {{ header_bg_color }};
  border-color: {{ header_child_nav_border_color }};
}

body .submenu.level-1 ul > li:first-child:before {
  border-color: {{ header_child_nav_border_color }};
}

.header__language-switcher .lang_list_class:before {
  border-bottom-color: {{ header_child_nav_border_color }};
}

/* body .submenu.level-1 .menu-item .menu-link:hover,
body .submenu.level-1 .menu-item .menu-link:focus, */
.header__language-switcher .lang_list_class li:hover,
body .submenu.level-1 ul > li:first-child:hover:before,
body .submenu.level-1 ul > li:first-child.focus:before {
  background-color: {{ header_bg_color }};
}

.header__language-switcher .lang_list_class.first-active::after {
  border-bottom-color: {{ header_bg_color }};
}

.header__language-switcher-label-current,
.header__language-switcher .lang_list_class li a {
  font-family: {{ body_font }};
}

.header__language-switcher-label-current:after {
  border-top-color: {{ header_nav_link_color }};
}

@media(max-width: 767px) {
  .header__navigation {
    background-color: {{ header_bg_color }};
  }

  .header__navigation-toggle svg,
  .menu-arrow svg {
    fill: {{ header_nav_link_color }};
  }
}

{###########################################################################}
{###########################   8. Site footer   ############################}
{###########################################################################}

.footer {
  background-color: {{ footer_bg_color }};
}

/* Footer Content */

.footer * {
  color: {{ footer_font_color }};
}

{###########################################################################}
{##############################   9. Blog   ################################}
{###########################################################################}

/* Blog Header */

.blog-header {
	background-color: rgb({{ color_variant(theme.blog_settings.blog_colors.background_color.color, -10)|convert_rgb }});
}

/* Blog Listing */

.blog-index__post-inner-card {
	box-shadow: -5px 0px 20px 0px rgba({{ color_variant(theme.blog_settings.blog_colors.secondary_color.color, -175)|convert_rgb }}, 0.10);
}

.blog-tag-filter__menu-link,
.blog-post__tag-link,
.blog-card__tag-link,
.blog-post__author-name,
.blog-card__title a {
	color: {{ body_color }};
}

.blog-card__tag-link:hover,
.blog-card__title a:hover,
.blog-tag-filter__menu-link:hover,
.blog-post__tag-link:hover,
.blog-post__author-name:hover,
.blog-card__tag-link:focus,
.blog-card__title a:focus,
.blog-tag-filter__menu-link:focus,
.blog-post__tag-link:focus,
.blog-post__author-name:focus {
	color: {{ anchor_font_hover_color }};
}

.blog-card__tag-link:active,
.blog-card__title a:active,
.blog-tag-filter__menu-link:active,
.blog-post__tag-link:active,
.blog-post__author-name:active {
	color: {{ anchor_font_hover_color }};
}

.blog-tag-filter__menu-link--active-item:after {
	background-color: {{ theme.global_colors.primary_color.color }};
}

.blog-pagination__link {
	color: {{ body_color }};
}

.blog-pagination__link--active:after,
.blog-pagination__prev-link:after,
.blog-pagination__next-link:after {
	background-color: {{ theme.global_colors.primary_color.color }};
}

.blog-post__title {
	color: {{ h1_color }};
	font-family:{{ h1_font }};
	font-size: {{ h1_size }}px;
	font-weight: {{ h1_variation }};
}

.blog-post__author {
	background-color: {{ theme.global_colors.secondary_color.color }};
}

#comments-listing .comment-reply-to {
	color: rgba({{ theme.typography.color|convert_rgb }}, {{ theme.typography.opacity * 0.01 }});
}

#comments-listing .comment-reply-to:hover,
#comments-listing .comment-reply-to:focus {
	color: rgba({{ color_variant(theme.typography.color, -40)|convert_rgb }}, {{ theme.typography.opacity * 0.01 }});
}

#comments-listing .comment-reply-to:active {
	color: rgba({{ color_variant(theme.typography.color, 40)|convert_rgb }}, {{ theme.typography.opacity * 0.01 }});
}

/*             Blog Grid Listing and Post styles            */

.hs-blog-listing,
.hs-blog-post {
	background-color: {{ theme.blog_settings.blog_colors.background_color.color }};
}

.blog-index__post-content a:hover,
.blog-sidebar a:hover,
.blog-post__meta a:hover,
.blog-post__back-to-blog:hover {
	color: {{ anchor_font_hover_color }};
}

.blog-post__read-more a:hover svg,
a.blog-post__back-to-blog:hover svg {
	fill: {{ anchor_font_hover_color }};
}

.blog-index__post-content--small h2 {
  font-size: {{ h3_size }}px;
}

.blog-index__post-content a {
  color: {{ body_color }};
}

.blog-post__read-more svg {
	fill: {{ body_color }};
}

.blog-sidebar ul {
	box-shadow: -5px 0px 20px 0px rgba({{ color_variant(theme.blog_settings.blog_colors.secondary_color.color, -175)|convert_rgb }}, 0.10);
}

.blog-sidebar a {
	color: {{ body_color }};
}

.blog__subscription-block, .blog-related-posts {
	background-color: rgb({{ color_variant(theme.blog_settings.blog_colors.background_color.color, -10)|convert_rgb }});
}

.post-featured-image {
	max-height: {{ theme.blog_settings.blog_featured_image_max_height.number_field }}px;
}

.blog-post {
	box-shadow: -5px 0px 20px 0px rgba({{ color_variant(theme.blog_settings.blog_colors.secondary_color.color, -175)|convert_rgb }}, 0.10);
}

.blog-post__meta a {
	color: {{ body_color }};
}

.blog-post__meta a:hover {
  color: {{ anchor_font_hover_color }};
}

.blog-post__links-container {
	border-top:  2px solid rgb({{ color_variant(theme.blog_settings.blog_colors.secondary_color.color, -20)|convert_rgb }});
}

.blog-post__back-to-blog {
	color: {{ body_color }};
}

.blog-post__back-to-blog svg {
	fill: {{ body_color }};
}

.comment.depth-0,
.blog-comments form {
	border-top: 2px solid rgb({{ color_variant(theme.blog_settings.blog_colors.secondary_color.color, -20)|convert_rgb }}) !important;
}

.comment.depth-1 {
	border-left: 2px solid rgb({{ color_variant(theme.blog_settings.blog_colors.secondary_color.color, -20)|convert_rgb }});
}

.section.post-footer .hs-input {
	border-color: rgb({{ color_variant(theme.blog_settings.blog_colors.secondary_color.color, -20)|convert_rgb }});
}

.blog-recent-posts {
	background-color: rgb({{ color_variant(theme.blog_settings.blog_colors.background_color.color, -10)|convert_rgb }});
}

{###########################################################################}
{##########################   10. System pages   ###########################}
{###########################################################################}



{###########################################################################}
{############################   11. Modules   ##############################}
{###########################################################################}

.card__price {
  font-family: {{ h3_font }}
  font-size: {{ h3_size }}px;
  color: {{ h3_color }};
  font-weight: {{ h3_variation }}
}
